/* *****************************************************
 * VARIABLES
 * *****************************************************/
:root {
  --main-bg-color: hsl(233, 47%, 7%);
  --card-bg-color: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --transparent-white-1: hsla(0, 0%, 100%, 0.75);
  --transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

/* *****************************************************
 * GENERAL STYLE
 * *****************************************************/
html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--transparent-white-1);
  background-color: var(--main-bg-color);
  padding: 11rem 0 15rem 0;
  position: relative;
}

@media screen and (min-width: 655px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--card-bg-color);
}

footer a {
  color: var(--soft-violet);
}

/* *****************************************************
 * CARD STYLE
 * *****************************************************/

.card {
  max-width: 90%;
  margin: 0 auto;
  background-color: var(--card-bg-color);
  overflow: hidden;
  border-radius: 10px;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 70%;
  }
}

@media screen and (min-width: 750px) {
  .card {
    max-width: 65%;
  }
}

@media screen and (min-width: 900px) {
  .card {
    max-width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.card__figure {
  position: relative;
  overflow: hidden;
  background-color: var(--soft-violet);
}

@media screen and (min-width: 1200px) {
  .card__figure {
    order: 1;
  }
}

.card__figure::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--soft-violet);
  content: "";
  opacity: 0.2;
}

.card__img {
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
  transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
  .card__img {
    transform: none;
    height: 100%;
    object-fit: cover;
  }
}

.card__text {
  padding: 15%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .card__text {
    text-align: left;
  }
}

.card__title {
  color: var(--white);
  font-size: 2.8rem;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .card__title {
    font-size: 3.2rem;
  }
}

.card__title--violet {
  font-style: normal;
  color: var(--soft-violet);
}

.card__desc {
  margin: 3rem 0;
}

.card__list span {
  display: block;
}

@media screen and (min-width: 1200px) {
  .card__list {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
}

.card__list-item {
  list-style: none;
  margin-top: 2rem;
}

.card__list-item--upper {
  text-transform: uppercase;
  color: var(--transparent-white-2);
  font-family: "Lexend Deca", sans-serif;
}

.card__list-item--bold {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--white);
}
